* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.1);

  div {
    &.modal {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      max-width: 800px;
      height: 100%;
      margin: 0 auto;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      padding: 20px;
      opacity: 1;
      z-index: 10;

      .greetings{
        margin-bottom: 20px;
        ul{
          //padding: 0;
          li{
            margin-bottom: 10px;
          }
        }
      }

      .actions,label{
        display: flex;
        flex-direction: column;
      }

      label{
        margin-bottom: 20px;
      }

      .invalid{
        border: 2px dashed red;
      }
      .error{
        color: red;
        padding: 5px 0;
      }

      &.close-configuration {
        opacity: 0;
        z-index: -10;
        transition: all 0.6s;
      }
    }
  }

  &.modal-open {
    .modal {
      &.close-configuration {
        opacity: 1;
        z-index: 10;
      }
    }
  }
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

